.sideBarMenu {
    display: flex;
    flex-direction: column;
    gap: 62px;
    padding: 33px 22px 0 44px;
    border-right: 1px solid #E6EFF5;
    height: 100vh;

    .sideBarMenu__logotype{
        display: flex;
        gap: 9px;
        align-items: center;
        
        h1 {
            font-family: Mont;
            font-size: 25px;
            font-weight: 900;
            line-height: 31.95px;
            text-align: left;
 
        }
        a {
            color: #343C6A;
        }
    }
    .sideBarMenu__list {
        display: flex;
        flex-direction: column;

        .sideBarMenu__list-element {
            display: flex;
            gap: 26px;
            align-items: center;
            font-size: 18px;
            font-weight: 500;
            line-height: 21.78px;
            color: #B1B1B1;
            padding: 20px 0;
            position: relative;


            .borderItem {
                display: none;
            }
            
            &.active .borderItem {
                display: block;
                position: absolute;
                height: 100%;
                border: 5px solid #1814F3;
                left: -45px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }

            &.active path{
                fill: #1814F3;
            }

            &.active{
                color: #1814F3;
            }

        }
    }
}

@media (max-width: 1030px) {
    .sideBarMenu {
        display: none;
    }
}
